**/.idea/*
**/results/
**/*.sca
**/*.anf
**/*.out
**/*.elog
**/*.csv
**/*.ss
**/*.bak
**/*.bac
**/*.png
**/*.cfg
**/*.swp
**/results/*.cc
**/*.ss
**/out/*
**/.metadata*/*
**/.setti*/*
**/*_m.h
**/*_m.cc
**/*.so
**/*.stat
*.so
*.stat
